<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="index.css">
    <title>Chocolates</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
    <ul>
    <li><%= link_to 'Inicio', root_path, class: 'inicio'%></li>
    <li><%= link_to 'Registrarse', new_user_path, class: 'boton-registro'%></li>
    </ul>
    </nav>

    <%= yield %>
  </body>
</html>
